CONTACT_EMAIL=mubarakmosque@gmail.com
NEXT_PUBLIC_CONTACT_EMAIL=mubarakmosque@gmail.com
NEXT_PUBLIC_CONTACT_CC=usama.rehman@ahmadiyya.us
# Optional overrides
# PRAYER_SHEET_ID=10gViR7ACGoFhAStQicyz_crxa1Qw19PQMWvqgo3Qv-8
# PRAYER_SHEET_TAB=Summary
# CALENDAR_ICS_URL=https://calendar.google.com/calendar/ical/mubarakmosque%40gmail.com/public/basic.ics
